@model WebApplication1.Models.Guest

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Kas olete kindel, et soovite selle kustutada?</h3>
<div>
    <h4>Külaline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Vanus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Telefoninumber
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Kas osaleb
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WillAttend)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Guests")
        </div>
    }
</div>
